
# aceest_fitness.db
#.git
#.gitignore
#k8s/
#Jenkinsfile
sonar-project.properties
*.log
*.pdf


# Git metadata (Safe and saves space)
.git
.gitignore

# Python artifacts (Crucial to prevent path conflicts)
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
venv/
.pytest_cache/

# Jenkins & SonarQube temporary files
.scannerwork/
reports/
pf.log

# Sensitive Info
.env
dockerhub-credentials